
body {
 background-color: #FFFFFF;
 font-family: 'Libre Baskerville', serif;

}
div.bbstext{
  font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}
div.bbstext1{
  font-family: 'Libre Baskerville', serif;
	font-size: 20px;	
}
#container {
  position:relative;
  width:90%;
  margin-bottom:20px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  padding-top:50px;
  padding-bottom:50px;
}
.leftimage {
  width:70%;
  float: left;
}
.rightimage{
  float:right;
  position:absolute;
  top: 828px;
  right: 0;
  width: 200px;
  height: 100px;
}
.righttext { 
  font-family: 'Libre Baskerville', serif;
  width: 50%;
  display: inline;
  padding-top:200px;
}
div.contactus{
  font-family:'Libre Baskerville', serif;
  font-size: 18px;
  color:#000000;
}
.siteimage{
  padding-top:100px;
}
.aboutimage{
  padding-top:100px
}
#heading
{
  text-align:center;
  margin-top:150px;
  font-size:30px;
  color:blue;
}
#find{
  width:400px;
  height:40px;
  font-size:17px;
  padding:10px;
}
#search{
  background-color:#8181F7;
  height:40px;
  color:white;
  border:none;
  font-size:17px;
}
#search_items{
  background-color:#F2F2F2;
  width:400px;
  margin:0px;
  margin-left:-75px;
  margin-top:-15px;
}
#search_items a{
  color:#585858;
  text-decoration:none;
  display:block;
  padding:5px;
  margin-top:10px;
  text-align:left;
}
#search_items a:hover{
  background-color:#8181F7;
  color:white;
}

.btn-stripe {
    color: #fff;
  background: #808080;
  background-image: -webkit-linear-gradient(top, #000000, #808080 85%, #bfbfbf);
  background-image: -moz-linear-gradient(top, #000000, #808080 85%, #bfbfbf);
  background-image: -ms-linear-gradient(#000000, #808080 85%, #bfbfbf);
  background-image: -o-linear-gradient(#000000, #808080 85%, #bfbfbf);
  background-image: linear-gradient(#000000, #808080 85%, #bfbfbf);     
  background: linear-gradient(top, #000000, #808080 85%, #bfbfbf);      
  text-shadow: 0 1px 1px rgba(0,0,0,0.53);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  border-color: #808080;
}
.btn-stripe:hover {
  color: #fff;
  background-position: 0;
}
.btn-stripe:active {
  background: #808080;
}
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


.jumbotron {
  position:static;
  background: #000 url(../img/WDF_1800065.jpg)center center;
  width: 100%;
  height: 335px;
  background-size:cover ;
  overflow:hidden;
  color: #FFFFFF;
  text-shadow: 2px 2px 3px #000;
}
.pull-left {
    margin-top: 10px;
}


/* Set the fixed height of the footer here */
footer {
  height: 20px;
  background-color: black;
}
footer > p {
  padding: 0 125px;
}
a.list-group-item {
    height:auto;
    min-height:120px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/skateboarding-1149505_1280.jpg);
    background-repeat:repeat;
  }
  h4{
    color:#FFFFFF;
    text-shadow: 2px 2px 3px #000;

  }
  h1{
    color:#FFFFFF;
    text-shadow: 2px 2px 3px #000;

  }
  .control-label{
    color:#FFFFFF;
    text-shadow: 2px 2px 3px #000;
  }
  .fullscreen_bg1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/sunset-691653_1280.jpg);
    background-repeat:repeat;
  }
  .form-group{
    color:#FFFFFF;
    text-shadow: 2px 2px 3px #000;
  }
  .col-xs-12{
    color:#FFFFFF;
    text-shadow: 2px 2px 3px #000;
  }
  .fullscreen_bg2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/skateboard-384194_1280.jpg);
    background-repeat:repeat;
  }
td{
font-style: bold;
}
.fullscreen_bg3 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/skateboard-384194_1280.jpg);
    background-repeat:repeat;
  }
 .btn-stripe-1 {
    color: #fff;
  background: #6fccdd;
  background-image: -webkit-linear-gradient(top, #000000, #6fccdd 85%, #bfbfbf);
  background-image: -moz-linear-gradient(top, #000000, #6fccdd 85%, #bfbfbf);
  background-image: -ms-linear-gradient(#000000, #6fccdd 85%, #bfbfbf);
  background-image: -o-linear-gradient(#000000, #6fccdd 85%, #bfbfbf);
  background-image: linear-gradient(#000000, #6fccdd 85%, #bfbfbf);     
  background: linear-gradient(top, #000000, #6fccdd 85%, #bfbfbf);      
  text-shadow: 0 1px 1px rgba(0,0,0,0.53);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  border-color: #6fccdd;
}
.btn-stripe-1:hover {
  color: #fff;
  background-position: 0;
}
.btn-stripe-1:active {
  background: #6fccdd;
}
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.box {
  background:transparent;
  transition:all 0.2s ease;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
}

.box:hover {
  border:2px solid #525C7A;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box .box-content p {
  color:#515c66;
  text-transform:none;
}
.fullscreen_bg4 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../img/99factory_slider_03.jpg);
    background-repeat:repeat;
  }