html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

form{
 width: 10px;
  height: 10px;
  font-family: sans-serif;
  font-size: 12px;

}
