
body {
    
    background-color: #FFFFFF;
}

}
#board{
    padding-right: 50px;
    padding-left: 10px;
    padding-top:10px;

}
#long{
    padding-right: 50px;
    padding-left: 10px;
    padding-top:10px;
}    
#truck{
   padding-right: 50px;
   padding-left: 10px;
   padding-top:10px;
}
div.bbstext{
font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}
div.bbstext1{
font-family: 'Libre Baskerville', serif;
	font-size: 20px;	
}
#container {
position:relative;
width:90%;
margin-bottom:20px;
margin-top:20px;
margin-left:auto;
margin-right:auto;
padding-top:50px;
padding-bottom:50px;
}
.leftimage {
width:70%;
float: left;

}
.rightimage{
  float:right;
  position:absolute;
  top: 828px;
    right: 0;
    width: 200px;
    height: 100px;

}
.righttext { 
font-family: 'Libre Baskerville', serif;
width: 50%;
display: inline;
padding-top:200px;
}
div.contactus{
font-family:'Libre Baskerville', serif;
  font-size: 18px;
  color:#000000;
}

.siteimage{
 padding-top:100px;

}
.aboutimage{
  padding-top:100px
}
#heading
{
   text-align:center;
   margin-top:150px;
   font-size:30px;
   color:blue;
}
#find
{
   width:400px;
   height:40px;
   font-size:17px;
   padding:10px;
}
#search
{
   background-color:#8181F7;
   height:40px;
   color:white;
   border:none;
   font-size:17px;
}
#search_items
{
   background-color:#F2F2F2;
   width:400px;
   margin:0px;
   margin-left:-75px;
   margin-top:-15px;
}
#search_items a
{
   color:#585858;
   text-decoration:none;
   display:block;
   padding:5px;
   margin-top:10px;
   text-align:left;
}
#search_items a:hover
{
   background-color:#8181F7;
   color:white;
}

.btn-stripe {
    color: #fff;
  background: #808080;
  background-image: -webkit-linear-gradient(top, #000000, #808080 85%, #bfbfbf);
  background-image: -moz-linear-gradient(top, #000000, #808080 85%, #bfbfbf);
  background-image: -ms-linear-gradient(#000000, #808080 85%, #bfbfbf);
  background-image: -o-linear-gradient(#000000, #808080 85%, #bfbfbf);
  background-image: linear-gradient(#000000, #808080 85%, #bfbfbf);     
  background: linear-gradient(top, #000000, #808080 85%, #bfbfbf);      
  text-shadow: 0 1px 1px rgba(0,0,0,0.53);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  border-color: #808080;
}
.btn-stripe:hover {
  color: #fff;
  background-position: 0;
}
.btn-stripe:active {
  background: #808080;
}
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


.jumbotron {
    position:static;
    background: #000 url(../img/WDF_1800065.jpg)center center;
    width: 100%;
    height: 335px;
    background-size:cover ;
    overflow:hidden;
    color: white;
}
.pull-left {
    margin-top: 10px;
}


.footer {
  padding: 20px 0;
  text-align: center;

}
/* Global */
h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

/* Carousel */
#carousel-example {
  font-family: 'Lato', sans-serif;
  .carousel-wrapper {
    background: #111;
    color: white;
    font-weight: 300;
    padding: 40px 0;
    text-transform: uppercase;
    h2 {
      padding: 0 0 35px;
      text-align: center;
    }
    ol {
      margin: 0 auto;
      position: static;
      width: 100%;
      span {
        border: 1px solid transparent;
        cursor: pointer;
        height: auto;
        padding: 10px 15px;
        text-align: center;
        transition: border 0.3s, color 0.3s;
        width: auto;
      }
      .active {
        background: none;
        border: 1px solid orange;
        color: orange;
        height: auto;
        padding: 10px 15px;
        width: auto;
      }
    } 
  }
  .carousel-inner {
    .item {
      transition: opacity 1s;
      .img-wrapper {
        height: 400px;
        margin: 0 -15px 0 0;
        overflow: hidden;
        position: relative;
        img {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 1000px;
        }
      }
      .carousel-caption {
        background: orange;
        color: #111;
        font-size: 1.1em;
        height: 400px;
        margin: 0 0 0 -15px;
        padding: 30px;
        position: static;
        text-align: left;
        text-shadow: none;
        h2 {
          padding: 0 0 20px;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  #carousel-example {
    .carousel-inner {
      .item {
        .img-wrapper {
          height: auto;
          img {
            transform: none;
            position: static;
            width: 100%;
          }
        }
        .carousel-caption {
          height: auto;
        }
      }
    }
  }
}